header span, header svg {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
header span:hover, header svg:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
@-webkit-keyframes press {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25); }
  70% {
    -webkit-box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@-moz-keyframes press {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25); }
  70% {
    -moz-box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes press {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25); }
  70% {
    -moz-box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
header #frontcircle {
  position: fixed;
  z-indeX: 1000;
  background: url(../img/circle_btn_big.png) top left no-repeat;
  -webkit-background-size: 44px 44px;
  -moz-background-size: 44px 44px;
  -o-background-size: 44px 44px;
  background-size: 44px 44px; }
header .menu_btn:hover {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
header #bgcolor, header #bgcolor2 {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-indeX: 100;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  width: 35px;
  height: 35px; }
header .menu_btn {
  opacity: 1;
  position: fixed;
  cursor: pointer;
  z-indeX: 9999;
  width: 44px;
  height: 44px;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: press 3s infinite;
  -moz-animation: press 3s infinite;
  animation: press 3s infinite;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  top: 150px;
  right: 100px; }
  header .menu_btn #bgcolor {
    top: 155px;
    right: 105px;
		background: #44F2FF; }
	header .menu_btn .i-menu {
		font-size: 16px;
  	position: relative;
  	font-family: 'RalewayBold';
  	color: white;
  	right: 60px;
  	top: 30%;}	
header .menu_btn_close {
  opacity: 1;
  position: fixed;
  cursor: pointer;
  z-indeX: 9999;
  width: 44px;
  height: 44px;
  display: none;
  top: 150px;
  right: 100px; }
  header .menu_btn_close #bgcolor2 {
    top: 155px;
    right: 105px;
    background: #ff007f; }
header .menu_bg {
	background: -moz-linear-gradient(315deg, #150077 0%, #3b0079 20%, #6d0a99 40%, #af00b0 60%, #ff00fe 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #150077), color-stop(20%, #3b0079), color-stop(40%, #6d0a99), color-stop(60%, #af00b0), color-stop(100%, #ff00fe));
  background: -webkit-linear-gradient(315deg, #150077 0%, #3b0079 20%, #6d0a99 40%, #af00b0 60%, #ff00fe 100%);
  background: -o-linear-gradient(315deg, #150077 0%, #3b0079 20%, #6d0a99 40%, #af00b0 60%, #ff00fe 100%);
  background: -moz-linear-gradient(315deg, #150077 0%, #3b0079 20%, #6d0a99 40%, #af00b0 60%, #ff00fe 100%);
  background: linear-gradient(135deg, #150077 0%, #3b0079 20%, #6d0a99 40%, #af00b0 60%, #ff00fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#150077', endColorstr='#FF00FE',GradientType=1 );
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-indeX: 2000;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px; }
header .menu_list {
  display: inline-block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 100vh; }
header .menu_page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%; }
header .menu_page li {
  display: inline; }
  header .menu_page li a {
    display: inline-block;
    font-family: "RalewayBold";
    font-size: 50px;
    color: white;
    position: relative;
    text-transform: lowercase;
    padding: 0 25px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer; }
    header .menu_page li a:hover {
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      text-shadow: 3px -3px 0px rgba(68, 242, 255, 0.9), 6px -6px 0px rgba(255, 0, 127, 0.9); }
header #header {
  position: relative; }
  header #header .menu_bg {
    margin-right: 105px;
    margin-top: 155px; }
  header #header .menu_list {
    -vendor-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s; }
header #frontcircle_m {
  position: fixed;
  z-indeX: 1000;
  background: url(../img/circle_btn_big.png) top left no-repeat;
  -webkit-background-size: 44px 44px;
  -moz-background-size: 44px 44px;
  -o-background-size: 44px 44px;
  background-size: 44px 44px; }
header .menu_btn_m:hover {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
header #bgcolor_m, header #bgcolor2_m {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-indeX: 100;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  width: 30px;
  height: 30px; }
header .menu_btn_m {
  opacity: 1;
  position: fixed;
  cursor: pointer;
  z-indeX: 9999;
  width: 44px;
  height: 44px;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: press 3s infinite;
  -moz-animation: press 3s infinite;
  animation: press 3s infinite;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  top: 25px;
  right: 25px; }
  header .menu_btn_m #bgcolor_m {
    top: 32px;
    right: 32px;
    background: #44F2FF; }
header .menu_btn_close_m {
  opacity: 1;
  position: fixed;
  cursor: pointer;
  z-indeX: 9999;
  width: 44px;
  height: 44px;
  display: none;
  top: 25px;
  right: 25px; }
  header .menu_btn_close_m #bgcolor2_m {
    top: 32px;
    right: 32px;
    background: #ff007f; }
header .menu_bg_m {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-indeX: 2000;
  background-color: #6d0a99;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px; }
header .menu_list_m {
  display: inline-block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 100%; }
header .menu_page_m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%; }
header .menu_page_m li {
  display: inline; }
  header .menu_page_m li a {
    display: inline-block;
    font-family: "RalewayBold";
    font-size: 50px;
    color: white;
    position: relative;
    text-transform: lowercase;
    padding: 0 25px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer; }
    header .menu_page_m li a:hover {
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      text-shadow: 3px -3px 0px rgba(68, 242, 255, 0.9), 6px -6px 0px rgba(255, 0, 127, 0.9); }
header #header_m {
  position: relative; }
  header #header_m .menu_bg_m {
    margin-right: 30px;
    margin-top: 30px; }
  header #header_m .menu_list_m {
    -vendor-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s; }