/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol,
ul {
  list-style: none; }

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q,
blockquote {
  quotes: none; }

/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

body {
  cursor: url("../img/cur970.cur"), auto; }

/*preloader begin*/
#page {
  display: table;
  overflow: hidden;
  margin: 0px auto;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000; }

#loader {
  text-align: center;
  vertical-align: middle; }
  #loader img {
    height: auto;
    width: 100%;
    object-fit: contain; }

*:first-child + html #page {
  position: relative; }

/*ie7*/
* html #page {
  position: relative; }

/*ie6*/
#content {
  display: table-cell;
  vertical-align: middle; }

*:first-child + html #content {
  position: absolute;
  top: 50%; }

/*ie7*/
* html #content {
  position: absolute;
  top: 50%; }

/*ie6*/
*:first-child + html #loader {
  position: relative;
  top: -50%; }

/*ie7*/
* html #loader {
  position: relative;
  top: -50%; }

/*preloader end*/
/* line 9, ../sass/main.sass */
a:hover, a:focus {
  color: #474747;
  text-decoration: none; }

html, body {
  overflow-x: hidden; 
  background-color: #111;
}

article {
    width: 100%;
}

.solar-system_page {
    position: relative;
    background-image: -webkit-linear-gradient(270deg, rgb(71,0,82) 0%, rgb(59,0,121) 100%);
    background-image: -o-linear-gradient(270deg, rgb(71,0,82) 0%, rgb(59,0,121) 100%);
    background-image: linear-gradient(360deg, rgb(71,0,82) 0%, rgb(59,0,121) 100%);
}

.solar-system {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    right: 0;
    overflow: hidden;
    z-index: -1;
    background-image: -webkit-linear-gradient(270deg, rgb(71,0,82) 0%, rgb(59,0,121) 100%);
    background-image: -o-linear-gradient(270deg, rgb(71,0,82) 0%, rgb(59,0,121) 100%);
    background-image: linear-gradient(360deg, rgb(71,0,82) 0%, rgb(59,0,121) 100%);
}
/*  background-image: url(../img/s7-stars3.png), linear-gradient(360deg, rgb(71,0,82) 0%, rgb(59,0,121) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
*/
.solar-system div {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 60%;
    top: 50%
}

.sol {
    height: 100px;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
    border: 0;
    -webkit-box-shadow: 0 0 100px rgba(248, 60, 111, .8);
    box-shadow: 0 0 100px rgba(248, 60, 111, .8);
    background: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(248,63,208) 0%, rgb(250,79,141) 100%);
    background: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(248,63,208) 0%, rgb(250,79,141) 100%);
    background: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(248,63,208) 0%, rgb(250,79,141) 100%);
}

.mercury {
    margin-left: -5px;
    margin-top: -5px;
    height: 10px;
    width: 10px;
    -webkit-transform: rotate(0deg) translateX(70px);
    transform: rotate(0deg) translateX(70px);
    -webkit-animation: mercury-orbit 10s linear infinite;
    animation: mercury-orbit 10s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, .3))
}

@-webkit-keyframes mercury-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(70px);
        transform: rotate(0deg) translate(70px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(70px);
        transform: rotate(360deg) translate(70px)
    }
}

@keyframes mercury-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(70px);
        transform: rotate(0deg) translate(70px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(70px);
        transform: rotate(360deg) translate(70px)
    }
}

.venus {
    margin-left: -10px;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    -webkit-transform: rotate(0deg) translateX(100px);
    transform: rotate(0deg) translateX(100px);
    -webkit-animation: venus-orbit 20s linear infinite;
    animation: venus-orbit 20s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, .3))
}

@-webkit-keyframes venus-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(100px);
        transform: rotate(0deg) translate(100px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(100px);
        transform: rotate(360deg) translate(100px)
    }
}

@keyframes venus-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(100px);
        transform: rotate(0deg) translate(100px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(100px);
        transform: rotate(360deg) translate(100px)
    }
}

.earth {
    margin-left: -10px;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    -webkit-transform: rotate(0deg) translateX(128px);
    transform: rotate(0deg) translateX(128px);
    -webkit-animation: earth-orbit 35s linear infinite;
    animation: earth-orbit 35s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, .3))
}

@-webkit-keyframes earth-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(128px);
        transform: rotate(0deg) translate(128px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(128px);
        transform: rotate(360deg) translate(128px)
    }
}

@keyframes earth-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(128px);
        transform: rotate(0deg) translate(128px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(128px);
        transform: rotate(360deg) translate(128px)
    }
}

.mars {
    margin-left: -10px;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    -webkit-transform: rotate(0deg) translateX(160px);
    transform: rotate(0deg) translateX(160px);
    -webkit-animation-delay: -7s;
    animation-delay: -7s;
    -webkit-animation: mars-orbit 45s linear infinite;
    animation: mars-orbit 45s linear infinite;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, .3))
}

@-webkit-keyframes mars-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(160px);
        transform: rotate(0deg) translate(160px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(160px);
        transform: rotate(360deg) translate(160px)
    }
}

@keyframes mars-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(160px);
        transform: rotate(0deg) translate(160px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(160px);
        transform: rotate(360deg) translate(160px)
    }
}

.jupiter {
    margin-left: -30px;
    margin-top: -30px;
    height: 60px;
    width: 60px;
    -webkit-transform: rotate(0deg) translateX(250px);
    transform: rotate(0deg) translateX(250px);
    -webkit-animation: jupiter-orbit 100s linear infinite;
    animation: jupiter-orbit 100s linear infinite;
    -webkit-animation-delay: -52s;
    animation-delay: -52s;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, .3))
}

@-webkit-keyframes jupiter-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(250px);
        transform: rotate(0deg) translate(250px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(250px);
        transform: rotate(360deg) translate(250px)
    }
}

@keyframes jupiter-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(250px);
        transform: rotate(0deg) translate(250px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(250px);
        transform: rotate(360deg) translate(250px)
    }
}

.saturn {
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
    -webkit-transform: rotate(0deg) translateX(350px);
    transform: rotate(0deg) translateX(350px);
    -webkit-animation: saturn-orbit 120s linear infinite;
    animation: saturn-orbit 120s linear infinite;
    -webkit-animation-delay: -92s;
    animation-delay: -92s;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, .3))
}

@-webkit-keyframes saturn-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(350px);
        transform: rotate(0deg) translate(350px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(350px);
        transform: rotate(360deg) translate(350px)
    }
}

@keyframes saturn-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(350px);
        transform: rotate(0deg) translate(350px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(350px);
        transform: rotate(360deg) translate(350px)
    }
}

.uranus {
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
    -webkit-transform: rotate(0deg) translateX(430px);
    transform: rotate(0deg) translateX(430px);
    -webkit-animation: uranus-orbit 130s linear infinite;
    animation: uranus-orbit 130s linear infinite;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, .3))
}

@-webkit-keyframes uranus-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(430px);
        transform: rotate(0deg) translate(430px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(430px);
        transform: rotate(360deg) translate(430px)
    }
}

@keyframes uranus-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(430px);
        transform: rotate(0deg) translate(430px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(430px);
        transform: rotate(360deg) translate(430px)
    }
}

.neptune {
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
    -webkit-transform: rotate(0deg) translateX(500px);
    transform: rotate(0deg) translateX(500px);
    -webkit-animation: neptune-orbit 150s linear infinite;
    animation: neptune-orbit 150s linear infinite;
    -webkit-animation-delay: -40s;
    animation-delay: -40s;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, .3))
}

@-webkit-keyframes neptune-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(500px);
        transform: rotate(0deg) translate(500px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(500px);
        transform: rotate(360deg) translate(500px)
    }
}

@keyframes neptune-orbit {
    0% {
        -webkit-transform: rotate(0deg) translate(500px);
        transform: rotate(0deg) translate(500px)
    }
    100% {
        -webkit-transform: rotate(360deg) translate(500px);
        transform: rotate(360deg) translate(500px)
    }
}































































