@font-face {
    font-family: "PressStart2P";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/PressStart2P/PressStart2P.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PressStart2P/PressStart2P.woff") format("woff"),
    url("../fonts/PressStart2P/PressStart2P.ttf") format("truetype"); }
