/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol,
ul {
  list-style: none; }

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q,
blockquote {
  quotes: none; }

/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

body {
  cursor: url("../img/cur970.cur"), auto;
  -webkit-user-select: none;
  -moz-user-select: none; }

/* line 9, ../sass/main.sass */
a:hover, a:focus {
  color: #474747;
  text-decoration: none; }

html, body {
  overflow-x: hidden; }

header {
  position: relative; }

/*preloader begin*/
#page {
  display: table;
  overflow: hidden;
  margin: 0px auto;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  background-image: url(../img/space_bg.png);
  background-repeat: repeat;
  background-position: center center;
  background-size: contain; }

#loader {
  text-align: center;
  vertical-align: middle; }
  #loader img {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

*:first-child + html #page {
  position: relative; }

/*ie7*/
* html #page {
  position: relative; }

/*ie6*/
#content {
  display: table-cell;
  vertical-align: middle; }

*:first-child + html #content {
  position: absolute;
  top: 50%; }

/*ie7*/
* html #content {
  position: absolute;
  top: 50%; }

/*ie6*/
*:first-child + html #loader {
  position: relative;
  top: -50%; }

/*ie7*/
* html #loader {
  position: relative;
  top: -50%; }

/*preloader end*/
.head {
  position: relative;
  background-image: url(../img/GR_studio.png);
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: contain; }
  .head .audiobar {
    opacity: 0.6;
    float: right;
    clear: both;
    padding: 25px 25px 0 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .head .audiobar:hover {
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      opacity: 0.9; }
    .head .audiobar h1 {
      font-family: "Exo2-LightExpanded";
      font-size: 18px;
      color: #fff;
      display: inline-block;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      -webkit-user-select: none;
      user-select: none; }
    .head .audiobar .equa {
      height: 100px; }
    .head .audiobar a {
      cursor: pointer; }
  .head .menu_btn {
    position: absolute;
    width: 100%;
    bottom: 15%;
    left: calc((100% - 315px)/ 2);
    left: -moz-calc((100% - 315px)/ 2); }
    .head .menu_btn h1 {
      font-family: "Arkitech Bold";
      font-size: 24px; }
      .head .menu_btn h1 a {
        color: #fefefe;
        cursor: pointer; }
    .head .menu_btn img {
      width: 15px;
      height: 15px;
      vertical-align: middle; }

#mrl {
  margin-left: 280px; }

.glitch a {
  font-size: 24px;
  line-height: 1;
  font-family: 'Arkitech Bold';
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 160px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff; }
  .glitch a:before, .glitch a:after {
    display: block;
    content: 'press menu';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8; }
  .glitch a:after {
    color: #44f2ff;
    z-index: -2;
    -webkit-animation: glitch 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    animation: glitch 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }
  .glitch a:before {
    color: #ff6176;
    z-index: -1;
    -webkit-animation: glitch2 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    animation: glitch2 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite; }

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  5% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  10% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  15% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  30% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  35% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  45% {
    -webkit-transform: translate(-3px);
    transform: translate(-3px); }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  5% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  10% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  15% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  25% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  30% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  35% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  45% {
    -webkit-transform: translate(-3px);
    transform: translate(-3px); }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }
@-webkit-keyframes glitch2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  5% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  10% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  15% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  25% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, -2px); }
  30% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  35% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  45% {
    -webkit-transform: translate(3px);
    transform: translate(3px); }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }
@keyframes glitch2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  5% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  10% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  15% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  25% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, -2px); }
  30% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  35% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  45% {
    -webkit-transform: translate(3px);
    transform: translate(3px); }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }
/* skills */
main {
  width: 100vw;
  min-height: 100vh;
  -webkit-transition: width .4s .5s;
  transition: width .4s .5s;
  height: auto; }

.skills-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#060314), color-stop(25%, #150077), color-stop(50%, #3b0079), color-stop(75%, #500f8f), to(#d25d99));
  background-image: linear-gradient(180deg, #060314 0%, #150077 25%, #3b0079 50%, #500f8f 75%, #d25d99 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }
  .skills-page h1 {
    font-family: 'RalewayRegular';
    font-size: 50px;
    color: #fff; }
  .skills-page p {
    font-family: 'RalewayLight';
    font-size: 30px;
    line-height: 1.3;
    color: #fff; }
  .skills-page-welcome, .skills-page-about, .skills-page-services, .skills-page-teamleaders, .skills-page-ourskills, .skills-page-hireus {
    height: 100vh; }
  .skills-page-welcome {
    background-image: url(../img/womanbot.png), url(../img/mountainstars_bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, center top;
    background-size: 40%, cover; }
    .skills-page-welcome-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100vh; }
      .skills-page-welcome-content-text {
        color: #fff;
        width: 680px;
        margin-left: 250px; }
        .skills-page-welcome-content-text h1 {
          padding: 50px 0; }
  .skills-page-about {
    background-image: url(../img/retrowavepalmsun.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    background-size: 60%; }
    .skills-page-about-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100vh; }
      .skills-page-about-content-text {
        color: #fff;
        width: 680px;
        text-align: center; }
        .skills-page-about-content-text h1 {
          padding: 100px 0 50px 0; }
  .skills-page-services {
    background-image: url(../img/services_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .skills-page-services-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100vh; }
      .skills-page-services-content-text {
        color: #fff;
        width: 1080px;
        margin-left: 250px; }
        .skills-page-services-content-text h1 {
          padding: 50px 0; }
        .skills-page-services-content-text .p-code {
          padding: 30px 30px 0; }
          .skills-page-services-content-text .p-code .code {
            padding: 30px 50px 30px;
            border-left: 2px dashed rgba(255, 255, 255, 0.3); }
  .skills-page-teamleaders {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .skills-page-teamleaders img {
      width: 700px;
      height: auto; }
    .skills-page-teamleaders-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100vh; }
      .skills-page-teamleaders-content-text {
        display: inline-block;
        text-align: center;
        width: 100%;
        color: #fff; }
      .skills-page-teamleaders-content h1 {
        padding: 20px 0; }
      .skills-page-teamleaders-content-p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .skills-page-teamleaders-content-p-1, .skills-page-teamleaders-content-p-2 {
          margin: 0 15px;
          padding: 50px; }
          .skills-page-teamleaders-content-p-1:hover, .skills-page-teamleaders-content-p-2:hover {
            cursor: pointer; }
            .skills-page-teamleaders-content-p-1:hover .skills-page-teamleaders-btn, .skills-page-teamleaders-content-p-2:hover .skills-page-teamleaders-btn {
              background-image: url(../img/pressleft.png);
              background-repeat: no-repeat;
              background-position: 30% center;
              background-size: 3%;
              -webkit-transition: .1s ease-in;
              transition: .1s ease-in; }
              .skills-page-teamleaders-content-p-1:hover .skills-page-teamleaders-btn h2, .skills-page-teamleaders-content-p-2:hover .skills-page-teamleaders-btn h2 {
                text-shadow: -2px 0px 0px #44f2ff, 2px 0px 0px #ff6176;
                opacity: 1;
                -webkit-transition: .2s ease-in;
                transition: .2s ease-in; }
        .skills-page-teamleaders-content-p p {
          font-size: 24px; }
    .skills-page-teamleaders-info {
      margin: 40px 0;
      display: inline-block;
      text-align: center;
      width: 100%; }
    .skills-page-teamleaders-btn {
      display: inline-block;
      text-align: center;
      width: 100%;
      -webkit-transition: .1s ease-in;
      transition: .1s ease-in; }
      .skills-page-teamleaders-btn h2 {
        font-family: 'RalewayRegular';
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        display: inline;
        opacity: 0;
        -webkit-transition: .1s ease-in;
        transition: .1s ease-in; }
  .skills-page-ourskills {
    background-image: url(../img/palm_bg.png);
    background-repeat: no-repeat;
    background-position: -35% 420%;
    background-size: 55%; }
    .skills-page-ourskills-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100vh;
      width: 860px;
      margin-left: 45%; }
      .skills-page-ourskills-content-text {
        color: #fff;
        width: 680px; }
        .skills-page-ourskills-content-text h1 {
          padding: 0 0 50px 0; }
      .skills-page-ourskills-content .icons {
        margin-left: -15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .skills-page-ourskills-content .icons-skill .shining {
          display: none; }
        .skills-page-ourskills-content .icons-skill:hover .basic {
          display: none; }
        .skills-page-ourskills-content .icons-skill:hover .shining {
          display: inline-block; }
      .skills-page-ourskills-content img {
        height: 125px;
        width: auto; }
      .skills-page-ourskills-content p {
        padding: 50px 0 20px 0; }

.hireus-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d25d99), to(#EED4BD));
  background-image: linear-gradient(180deg, #d25d99 0%, #EED4BD 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }
  .hireus-page-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh; }
    .hireus-page-block-content-img img {
      height: 75px; }
    .hireus-page-block-content-img .ihover {
      display: none; }
    .hireus-page-block-content-img:hover .iactive {
      display: none; }
    .hireus-page-block-content-img:hover .ihover {
      display: inline-block; }

/* skills end */
/* contacts */
.contact {
  position: relative;
  background-image: url(../img/GS_Palm.png), url(../img/s7-stars3.png), -webkit-gradient(linear, left bottom, left top, from(#470052), to(#3b0079));
  background-image: url(../img/GS_Palm.png), url(../img/s7-stars3.png), linear-gradient(360deg, #470052 0%, #3b0079 100%);
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: left bottom, center center, center center;
  background-size: 50%, contain, contain; }
  .contact h1, .contact h2, .contact h3 {
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .contact h1, .contact h2 {
    font-family: 'RalewayRegularFixed';
    font-size: 30px; }
  .contact h1 {
    text-transform: uppercase; }
  .contact h3 {
    font-family: 'RalewaylightFixed';
    font-size: 18px; }
  .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    width: 860px;
    margin-left: 60%; }
    .contact-content-mail, .contact-content-social {
      padding: 25px 0; }
      .contact-content-mail h3, .contact-content-social h3 {
        padding-top: 20px; }
    .contact-content-social svg {
      height: 20px;
      width: auto;
      padding-right: 25px;
      fill: #fff;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .contact-content-social svg:hover {
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        fill: #FF007F; }
    .contact-content-mail h2 {
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .contact-content-mail h2:hover {
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #FF007F; }
    .contact-content-btn {
      margin-top: 75px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
      .contact-content-btn:hover {
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .contact-content-btn:hover h1 {
          text-shadow: -2px 0px 0px #44f2ff, 2px 0px 0px #ff6176;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
    .contact-content-social-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/* contacts end */
