/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address, 
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

html {
    line-height: 1;
}


/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

ol,
ul {
    list-style: none;
}


/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}


/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

q,
blockquote {
    quotes: none;
}


/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}


/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

a img {
    border: none;
}


/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
body {
    cursor: url('../img/cur970.cur'), auto;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* line 9, ../sass/main.sass */
a:hover, a:focus {
    color: #474747;
    text-decoration: none;
}
html, body{
overflow-x: hidden;
}
header {
    position: relative;
}

/*preloader begin*/

#page {
  display: table;
  overflow: hidden;
  margin: 0px auto;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  background-image: url(../img/space_bg.png);
  background-repeat: repeat;
  background-position: center center;
  background-size: contain;
}

#loader {
    text-align: center;
    vertical-align: middle;
    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}

*:first-child + html #page {
  position: relative;

}

/*ie7*/ 
* html #page {
  position: relative; 
}

/*ie6*/
#content {
  display: table-cell;
  vertical-align: middle; 
}

*:first-child + html #content {
  position: absolute;
  top: 50%; }

/*ie7*/
* html #content {
  position: absolute;
  top: 50%; }

/*ie6*/
*:first-child + html #loader {
  position: relative;
  top: -50%; }

/*ie7*/
* html #loader {
  position: relative;
  top: -50%; }

/*preloader end*/

.head {
    position: relative;
    background: {
        image: url(../img/GR_studio.png);
        repeat: no-repeat;
        position: center 25%;
        size: contain;
    }
    .audiobar {
        opacity: 0.6;
        float: right;
        clear: both;
        padding: 25px 25px 0 0;
        transition: .3s ease-in-out;
        &:hover {
            transition: .3s ease-in-out;
            opacity: 0.9;
        }
        h1 {
            font-family: "Exo2-LightExpanded";
            font-size: 18px;
            color: #fff;
            display: inline-block;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        .equa {
            height: 100px;
        }
        a {
            cursor: pointer;
        }
    }
    .menu_btn {
        position: absolute;
        width: 100%;
        bottom: 15%;
        left: calc((100% - 315px)/ 2);
        left: -webkit-calc((100% - 315px)/ 2);
        left: -moz-calc((100% - 315px)/ 2);
        h1 {
            font-family: "Arkitech Bold";
            font-size: 24px;
            a {
                color: #fefefe;
                cursor: pointer;
            }
        }
        img {
            width: 15px;
            height: 15px;
            vertical-align: middle;
        }
    }
}

#mrl {
   margin-left: 280px; 
}
.glitch a {
  font-size: 24px;
  line-height: 1;
  font-family: 'Arkitech Bold';
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 160px;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff;
  &:before,
  &:after{
    display: block;
    content: 'press menu';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  }
   &:after {
    color: #44f2ff;
    z-index: -2;
    animation: glitch 3s cubic-bezier(.25, .46, .45, .94) both infinite;
 
  }
  &:before {
    color: #ff6176;
    z-index: -1;
    animation: glitch2 3s cubic-bezier(.25, .46, .45, .94) both infinite;
  }
}
@keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    5% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px)
    }
    10% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px)
    }
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px)
    }
    25% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px)
    }
    30% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px)
    }
    35% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px)
    }
    40% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    45% {
        -webkit-transform: translate(-3px);
        transform: translate(-3px)
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}
@keyframes glitch2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
    5% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px)
    }
    10% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px)
    }
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px)
    }
    25% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, -2px)
    }
    30% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px)
    }
    35% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px)
    }
    40% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    45% {
        -webkit-transform: translate(3px);
        transform: translate(3px)
    }
    50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}








/* skills */


main {
    width: 100vw;
    min-height: 100vh;
    transition: width .4s .5s;
    height: auto;
}
.skills-page {
    h1 {
        font-family: 'RalewayRegular';
        font-size: 50px;
        color: #fff;
    }
    p {
        font-family: 'RalewayLight';
        font-size: 30px;
        line-height: 1.3;
        color: #fff;
    }
    background: {
        image: linear-gradient(180deg, rgb(6,3,20) 0%, rgb(21,0,119) 25%, rgb(59,0,121) 50%, rgb(80,15,143) 75%, rgb(210,93,153) 100%);
        repeat: no-repeat;
        position: center center;
        size: contain;
    }
    &-welcome, &-about, &-services, &-teamleaders, &-ourskills, &-hireus {
        height: 100vh;
    }
    &-welcome {
        background: {
            image: url(../img/womanbot.png), url(../img/mountainstars_bg.png);
            repeat: no-repeat, no-repeat;
            position: right bottom, center top;
            size: 40%, cover;
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            &-text {
                color: #fff;
                width: 680px;
                margin-left: 250px;
                h1 {
                    padding: 50px 0;
                }
            }
        }
    }
    &-about {
        background: {
            image: url(../img/retrowavepalmsun.png);
            repeat: no-repeat, no-repeat;
            position: center center;
            size: 60%;
        }
        &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            &-text {
                color: #fff;
                width: 680px;
                text-align: center;
                h1 {
                    padding: 100px 0 50px 0;;
                }
            }
        }
    }
    &-services {
        background: {
            image: url(../img/services_bg.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            &-text {
                color: #fff;
                width: 1080px;
                margin-left: 250px;
                h1 {
                    padding: 50px 0;
                }
                .p-code {
                    padding: 30px 30px 0;
                    .code {
                        padding: 30px 50px 30px;
                        border-left: 2px dashed rgba(255, 255, 255, 0.3);
                    }
                }
            }
        }
    }
    &-teamleaders {
        background: {
            repeat: no-repeat;
            position: center center;
            size: cover;
        }
        img {
            width: 700px;
            height: auto;
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            &-text {
                display: inline-block;
                text-align: center;
                width: 100%;  
                color: #fff;
            }
            h1 {
                padding: 20px 0;
            }
            &-p {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                &-1, &-2 {
                    margin: 0 15px;
                    padding: 50px;
                    &:hover {
                        cursor: pointer;
                        .skills-page-teamleaders-btn {
                            background-image: url(../img/pressleft.png);
                            background-repeat: no-repeat;
                            background-position: 30% center;
                            background-size: 3%;
                            transition: .1s ease-in;
                            h2 {
                                text-shadow: -2px 0px 0px #44f2ff, 2px 0px 0px #ff6176;
                                opacity: 1;
                                transition: .2s ease-in;
                            }
                        }
                    }
                }
                p {
                    font-size: 24px;
                }
            }
        }
        &-photo {
            
        }
        &-info {
            margin: 40px 0;
            display: inline-block;
            text-align: center;
            width: 100%;
        }
        &-btn {
            display: inline-block;
            text-align: center;
            width: 100%;
            transition: .1s ease-in;
            h2 {
                font-family: 'RalewayRegular';
                font-size: 30px;
                color: #fff;
                text-transform: uppercase;
                display: inline;
                opacity: 0;
                transition: .1s ease-in;
            }
        }
    }
    &-ourskills {
        background: {
            image: url(../img/palm_bg.png);
            repeat: no-repeat;
            position: -35% 420%;
            size: 55%;
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            width: 860px;
            margin-left: 45%;
            &-text {
                color: #fff;
                width: 680px;
                h1 {
                    padding: 0 0 50px 0;;
                }
            }
            .icons {
                margin-left: -15px;
                display: flex;
                flex-wrap: wrap;
                &-skill {
                    .shining {
                        display: none;
                    }
                    &:hover .basic {
                        display: none;
                    }
                    &:hover .shining {
                        display: inline-block;
                    }
                }
            }
            img {
                height: 125px;
                width: auto;
            }
            p {
                padding: 50px 0 20px 0;
            }
        }
    }
} 

.hireus-page {
    background: {
        image:  linear-gradient(180deg, #d25d99 0%, #EED4BD 100%);
        repeat: no-repeat;
        position: center center;
        size: contain;
    }
    &-block {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        &-content {
            &-img {
                img {
                    height: 75px;
                } 
                .ihover {
                    display: none;
                }
                &:hover .iactive {
                    display: none;
                }
                &:hover .ihover {
                    display: inline-block;
                }
                
            }
        }
    }
}


/* skills end */





/* contacts */

.contact {
    position: relative;
    h1, h2, h3 {
        color: #fff;
        transition: all .3s ease-in-out;
    }
    h1, h2 {
        font-family: 'RalewayRegularFixed';
        font-size: 30px;
    }
    h1 {
        text-transform: uppercase;
    }
    h3 {
        font-family: 'RalewaylightFixed';
        font-size: 18px;
    }
    background: {
        image: url(../img/GS_Palm.png), url(../img/s7-stars3.png), linear-gradient(360deg, rgb(71,0,82) 0%, rgb(59,0,121) 100%);
        repeat: no-repeat, repeat, no-repeat;
        position: left bottom, center center, center center;
        size: 50%, contain, contain;
    }
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 860px;
        margin-left: 60%;
        &-mail, &-social {
            padding: 25px 0;
            h3 {
                padding-top: 20px;
            }   
        }
        &-social {
            svg {
                height: 20px;
                width: auto;
                padding-right: 25px;
                fill: #fff;
                transition: all .3s ease-in-out;
                &:hover {
                    transition: all .3s ease-in-out;
                    fill: #FF007F;
                }
            }
        }
        &-mail {
            h2 {
                transition: all .3s ease-in-out;
            }
            h2:hover {
                transition: all .3s ease-in-out;
                color: #FF007F;
            }
        }
        &-btn {
            margin-top: 75px;
            width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: 0.4s;
            transition-delay: 0.2s;
            &:hover {
                transition: all .3s ease-in-out;
                h1 {
                    text-shadow: -2px 0px 0px #44f2ff, 2px 0px 0px #ff6176;
                    transition: all .3s ease-in-out;
                }
            }
        }
        &-social {
            &-icons {
                display: flex;
                flex-wrap: wrap;
                &-element {
                }
            }
        }
    }
}
    

























































































/* contacts end */

