@font-face {
	font-family: 'Arkitech Bold';
	src: url('../fonts/Arkitech/Arkitech Bold.eot');
	src: url('../fonts/Arkitech/Arkitech Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Arkitech/Arkitech Bold.woff') format('woff'),
	url('../fonts/Arkitech/Arkitech Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: "RalewayThin";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewayThin/RalewayThin.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayThin/RalewayThin.woff") format("woff"), 
    url("../fonts/Raleway/RalewayThin/RalewayThin.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayLight";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff"), 
    url("../fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"), 
    url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype"); }
@font-face {
    font-family: "RalewaySemiBold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), 
    url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype"); }
/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RalewayBold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"), 
    url("../fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayExtraBold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), 
    url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayThinFixed";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewayThin/RalewayThinFixed.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayThin/RalewayThinFixed.woff") format("woff"), 
    url("../fonts/Raleway/RalewayThin/RalewayThinFixed.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayLightFixed";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewayLight/RalewayLightFixed.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayLight/RalewayLightFixed.woff") format("woff"), 
    url("../fonts/Raleway/RalewayLight/RalewayLightFixed.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayRegularFixed";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewayRegular/RalewayRegularFixed.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayRegular/RalewayRegularFixed.woff") format("woff"), 
    url("../fonts/Raleway/RalewayRegular/RalewayRegularFixed.ttf") format("truetype"); }
@font-face {
    font-family: "RalewaySemiBoldFixed";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBoldFixed.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBoldFixed.woff") format("woff"), 
    url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBoldFixed.ttf") format("truetype"); }
/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RalewayBoldFixed";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Raleway/RalewayBold/RalewayBoldFixed.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayBold/RalewayBoldFixed.woff") format("woff"), 
    url("../fonts/Raleway/RalewayBold/RalewayBoldFixed.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayExtraBoldFixed";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBoldFixed.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBoldFixed.woff") format("woff"), 
    url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBoldFixed.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayThinFixedItalick";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewayThin/RalewayThinFixedItalick.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayThin/RalewayThinFixedItalick.woff") format("woff"), 
    url("../fonts/Raleway/RalewayThin/RalewayThinFixedItalick.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayLightFixedItalick";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewayLight/RalewayLightFixedItalick.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayLight/RalewayLightFixedItalick.woff") format("woff"), 
    url("../fonts/Raleway/RalewayLight/RalewayLightFixedItalick.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayRegularFixedItalick";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewayRegular/RalewayRegularFixedItalick.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayRegular/RalewayRegularFixedItalick.woff") format("woff"), 
    url("../fonts/Raleway/RalewayRegular/RalewayRegularFixedItalick.ttf") format("truetype"); }
@font-face {
    font-family: "RalewaySemiBoldFixedItalick";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBoldFixedItalick.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBoldFixedItalick.woff") format("woff"), 
    url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBoldFixedItalick.ttf") format("truetype"); }
/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RalewayBoldFixedItalick";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Raleway/RalewayBold/RalewayBoldFixedItalick.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Raleway/RalewayBold/RalewayBoldFixedItalick.woff") format("woff"), 
    url("../fonts/Raleway/RalewayBold/RalewayBoldFixedItalick.ttf") format("truetype"); }
@font-face {
    font-family: "RalewayExtraBoldFixedItalick";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBoldFixedItalick.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBoldFixedItalick.woff") format("woff"), 
    url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBoldFixedItalick.ttf") format("truetype"); }
@font-face {
    font-family: "Exo2-LightExpanded";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Exo/Exo2-LightExpanded.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Exo/Exo2-LightExpanded.woff") format("woff"), 
    url("../fonts/Exo/Exo2-LightExpanded.ttf") format("truetype"); }