/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1400px) {
    .skills-page-welcome-content-text, .skills-page-about-content-text, .skills-page-services-content-text, .skills-page-ourskills-content {
        margin: 0;
        padding: 100px;
    }  
    .skills-page-ourskills-content {
        width: auto;
    }
    .skills-page p {
        font-size: 24px;
    }
    .skills-page h1 {
        font-size: 40px;
    }
    .skills-page-welcome-content-text h1 {
        padding: 30px 0;
    }
    .skills-page-about-content-text h1 {
        padding: 300px 0 30px 0;
    }
    .skills-page-ourskills-content {
        display: flex;
        width: auto;
        align-items: center;
    }
    .skills-page-ourskills-content-killers, .skills-page-ourskills-content-weapons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .head {
        background-image: url(../img/GR_studio2.png);
        background-position: center 50%;
    }
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .skills-page-welcome-content-text, .skills-page-about-content-text, .skills-page-services-content-text, .skills-page-teamleaders-content-text {
        width: auto;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .head .audiobar {
        opacity: 0.6;
        float: none;
        clear: none;
        text-align: center;
        padding: 50px 0 0 0;
    }
    .skills-page-welcome-content, .skills-page-about-content, 
    .skills-page-services-content, .skills-page-teamleaders-content {
        align-items: center;
    }
    .skills-page-teamleaders img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .head .menu_btn {
        left: 20%;
    }
    .head .menu_btn h1 {
        font-size: 18px;
    }   
    .glitch a {
        font-size: 18px;
        left: 130px;
    }
    .head .menu_btn img {
        width: 10px;
        height: 10px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .head .menu_btn {
        left: 15%;
    }
    .head .menu_btn h1 {
        font-size: 16px;
    }   
    .glitch a {
        font-size: 16px;
        left: 120px;
    }
    .head .audiobar h1{
        display: none;
    }
    .head .audiobar {
        float: none;
        clear: none;
        text-align: center;
        padding: 25px 0 0 0;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
    .menu2, .menuha {
        display: none !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
@media only screen and (min-width : 993px) {

}
@media only screen and (min-width: 1190px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
\
@media only screen and (min-width: 1366px) {

}


/* Exclusive for ,ost popular resolutions */ 
@media only screen and (max-width : 1600px) {

}
@media only screen and (max-width : 1400px) {

}
@media only screen and (max-width : 360px) {

}




/* Small Devices, Tablets */
@media only screen and (max-width : 769px) {

}
